@charset "utf-8";
*{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{vertical-align:top;}
a:link,a:visited,a:hover,a:active{
    color:#333; text-decoration:none;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html{font-family: 'Nanum Gothic', sans-serif; font-size:16px;}
.wrap{
    width:1440px;
    margin:0 auto;
}
.clear::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
/*헤더영역*/
.util{
    background:#918b8d;
    height:40px;
}
.util_right{
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
}
.util_right>li{
    margin:8px 0;
}
.util_right>li a{
    color:#fff;
    font-size:0.9rem;
}
.util_right>li:nth-child(2){
    margin:8px 60px 0;
}
.util_right>li:nth-child(3) img{
    width:25px;
    height:25px;
}
/*gnb영역*/
.gnb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gnb>li>a{
    color:#918b8d;
    font-weight:bold;
    padding:10px 5px; 
}
.gnb>li{
    width:240px;
    height:50px;
    position:relative;
    text-align:center;
    padding-top:30px;
}
.gnb>li:last-child{
    padding-top:15px;
}
header>div:last-child{
    border-bottom:1px solid #b3a686;
}
.sub{
    display:none;
    z-index: 9999;
    position:absolute;
    width:100%;
    background:#fff;
    border:1px solid #b3a686;
    box-sizing: border-box;
    top:80px;
}
.sub>li{
    padding:25px 0 15px;
}
.sub>li:last-child{
    margin-bottom:15px;
}
.sub>li>a{
    text-transform: uppercase;
    color:#918b8d;
    font-weight:bold;
    text-align:center;
    padding:10px 5px 10px;
}
.gnb>li>a:hover{
    border-bottom:2px solid #918b8d;
}
.gnb>li:last-child>a:hover{
    border-bottom: 0;
}
.sub>li>a:hover{
    border-bottom:2px solid #918b8d; 
}
/*검색어창*/
.search_bg{
    position:relative;
}
.search{
    display:none;
    z-index: 9999;
    position:absolute;
    left:0;
    width:100%;
    height:240px;
    background:#000;
    opacity: 0.8;
    box-sizing: border-box;
    top:40px;
    padding:100px 0 0 680px;

}
.search input{
    border-top:0;
    border-right:0;
    border-left:0;
    border-bottom:2px solid #cdcdcd;
    background:#000;
    opacity: 0.8;
    color: #cdcdcd;
	font-weight: bold;
    font-size:1.2rem;
    padding-bottom:2px;
    width:600px;
}
.search input:focus{
    outline:none;
}
.search>li{
    float:left;
}
.search>li:nth-child(2){
    margin-left:15px;
}
.search>li:nth-child(2) img{
    width:30px;
    height:30px;
}
/*닫기창*/
.close img{
    width:25px;
    height:25px;
}
.close{
    position:absolute;
    right:232px;
    top:15px;
}
/*4가지 이미지 호버시*/
.hover_img{
    position:relative;
}
.sub_img{
    display:none;
    z-index: 9999;
    position:absolute;
    width:100%;
    height:100%;
    background:#000;
    box-sizing: border-box;
    opacity:0.7;
    top:0;
}
.sub_img>li{
    padding-top:130px;
    text-align:center;
    color:#fff;
    font-size: 1.3rem;
}

/*섹션영역*/
.contents{
    margin-top:60px;
}
.premium_bn{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:100px;
}

.product{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:80px;
}
.product:last-child{
    padding-bottom:30px;
    border-bottom:2px dashed #c0c0c0;
}
.product>div:first-child>figure p{
    font-size:1.5rem;
    margin-bottom:15px;
}

.product01{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.product01>figure{
    border-bottom:1px solid #ddd;
    margin-bottom:40px;
}
.product01>figure img{
    border:1px solid #ddd;
}
.product01>figure>figcaption{
    padding:10px 0;
}

.product01>figure>figcaption p{
    text-align:center;
    line-height: 1.6;
}
.product01>figure>figcaption>p:first-child{
    font-size:0.9rem;
}
.product01>figure>figcaption>p:last-child{
    font-weight:bold;
}

/*푸터영역*/
footer{
    background:#918b8d;
}
footer>div{    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:30px 0;
}
.ft_menu>li a,.ft_menu>li{
    color:#fff;
    line-height:2;
    font-size:0.95rem;
}
.ft_sub>a>li{
    float:left;
}
.ft_sub>a>li:first-child{
    margin:6px 10px 0 0;
}

.ft_menu:last-child{
    margin-top:100px;
}

/*배너영역*/
.jd-slider,.jd-slider .slide-inner{
    overflow:hidden;
    position:relative;
    width:1440px;
}
  
.jd-slider{margin:0 auto;padding:0}
.jd-slider .slide-area{width:100%;margin:0;padding:0}
.jd-slider .slide-area:after{
    display:block;
    content:'';
    clear:both;
}
.jd-slider .slide-area li{
    display:none;
    float:left;
    width:100%;
}
.jd-slider .slide-area li:first-child{
    display:block;
}
.jd-slider .slide-area li img{
    display:block;
    width:100%;
}
.jd-slider .next,.jd-slider .prev{
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
.jd-slider .hidden.next,.jd-slider .hidden.prev{display:none}
.jd-slider .prev{left:0}
.jd-slider .next{right:0}
.jd-slider .controller{width:100%;text-align:center}
.jd-slider .controller .auto{
    display:inline-block;
    vertical-align:middle;
}
.jd-slider .controller .auto i{
    display:none;color:#333
}.jd-slider .controller .auto.pause .fa-pause,.jd-slider .controller .auto.play .fa-play{
    display:block
}
.jd-slider .controller .indicate-area{
    display:inline-block;
}
.jd-slider .controller .indicate-area a{
    display:inline-block;
    position:relative;
    width:16px;
    height:16px;
    margin:0 5px;
    font-size:0;
    color:transparent;
    vertical-align:middle;
}
.jd-slider .controller .indicate-area a:after{
    content:'';
    position:absolute;
    top:0;left:0;
    width:inherit;
    height:inherit;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid #b3b3b3;
}
.jd-slider .controller .indicate-area a.on:after{background-color:#b3b3b3;}
.jd-slider a{font-size:1.5rem}
.jd-slider.fade .slide-area li{
    display:block;
    position:absolute;
    top:0;left:0;opacity:0;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.jd-slider.fade .slide-area li:first-child{
    position:static;
    opacity:1;}
.jd-slider.slider--none .controller,.jd-slider.slider--none .next,.jd-slider.slider--none .prev{display:none}