@charset "utf-8";
*{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{vertical-align:top;}
a:link,a:visited,a:hover,a:active{
    color:#333; text-decoration:none;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html{font-family: 'Nanum Gothic', sans-serif; font-size:16px;}
.wrap{
    width:1440px;
    margin:0 auto;
}
.clear::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
/*헤더영역*/
.util{
    background:#918b8d;
    height:40px;
}
.util_right{
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
}
.util_right>li{
    margin:8px 0;
}
.util_right>li a{
    color:#fff;
    font-size:0.9rem;
}
.util_right>li:nth-child(2){
    margin:8px 60px 0;
}
.util_right>li:nth-child(3) img{
    width:25px;
    height:25px;
}
/*gnb영역*/
.gnb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gnb>li>a{
    color:#918b8d;
    font-weight:bold;
    padding:10px 5px; 
}
.gnb>li{
    width:240px;
    height:50px;
    position:relative;
    text-align:center;
    padding-top:30px;
}
.gnb>li:last-child{
    padding-top:15px;
}
header>div:last-child{
    border-bottom:1px solid #b3a686;
}
.sub{
    display:none;
    z-index: 9999;
    position:absolute;
    width:100%;
    background:#fff;
    border:1px solid #b3a686;
    box-sizing: border-box;
    top:80px;
}
.sub>li{
    padding:25px 0 15px;
}
.sub>li:last-child{
    margin-bottom:15px;
}
.sub>li>a{
    text-transform: uppercase;
    color:#918b8d;
    font-weight:bold;
    text-align:center;
    padding:10px 5px 10px;
}
.gnb>li>a:hover{
    border-bottom:2px solid #918b8d;
}
.gnb>li:last-child>a:hover{
    border-bottom: 0;
}
.sub>li>a:hover{
    border-bottom:2px solid #918b8d; 
}
/*섹션영역*/
h3{
    font-size:1.5rem;
    color:#666;
    font-weight:500;
    margin-bottom:20px;
}
section>div{
    margin:80px 0;
}
.content01 p{
    background:#f1ede4;
    padding:25px 20px 25px 40px;
    line-height:2.5;
    color:#666;
    margin-bottom:50px;
}
.content02 p{
    line-height:2.5;
    color:#666;
    font-size:0.87rem;
}
.content03{
    height:470px;
    border-bottom:2px dashed #c0c0c0;
}
.content03>ul{
    padding-bottom:50px;
}
.content03>ul>li{
    float:left;
}
.content03>ul>li:last-child img{
    width:350px;
    height:350px;
}
.content03>ul>li:first-child p{
    line-height:2.5;
    color:#666;
    margin-right:80px;
}
/*푸터영역*/
footer{
    background:#918b8d;
}
footer>div{    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:30px 0;
}
.ft_menu>li a,.ft_menu>li{
    color:#fff;
    line-height:2;
    font-size:0.95rem;
}
.ft_sub>a>li{
    float:left;
}
.ft_sub>a>li:first-child{
    margin:6px 10px 0 0;
}

.ft_menu:last-child{
    margin-top:100px;
}