@charset "utf-8";
@import "layout.css";
/*공통 레이아웃*/
.wrap{ /*가로사이즈 중앙정렬*/
    width:1440px;
    margin:0 auto;
}
/*헤더 영역*/
header>.wrap{width:100%; height:80px;}
#logo{width:250px; height:29px;}
#logo>a{
    display:block;
    height:100%;
    width:100%;
    background:url('../images/logo2.png') no-repeat;
    margin-left:20px;
    overflow:hidden;
    text-indent:-999999px;
}
#gnb a {color:#333;}
#gnb a:hover{color:gold; font-weight:700;}
header h2 a{ 
    background-image:url('../images/glass2.png');
}

/*investment 영역*/
.tgroup{
    height:300px;
    background:url('../images/submain.jpg') no-repeat center/cover; 
    position:relative;
    margin:0;
}
.tgroup h2{
    color:#fff;
    padding:70px 0 0 0;
}

.tgroup>h3.line{
    background:gold;
    margin:10px auto 10px auto;
    height:5px; 
    width:80px;
}
.tgroup>h3{color:#fff; line-height:2;}

#investment .wrap{text-align:center;}
#investment .wrap>figure{padding:40px 0 40px 0;}
#investment .wrap>figure>figcaption:first-child{
    font-size:1.2em;
    font-weight:bold;
    line-height:2;
    color:#333;
}
#investment .wrap>figure>figcaption:last-child{
    line-height:1.5;
    color:#666;
}
.wrap>h4.line{
    background:#999;
    height: 1px; 
    width:600px;
    margin:0px auto 0px auto;

}

/*press영역*/
#press{width:100%;}
.flex{ /*플렉스 컨테이너 만들어 주는 클래스*/
    display:flex; /* display:inline-flex; */
    align-items:center;
    flex-flow:row wrap;
}

#press>div.flex>article:nth-child(1){
    width:60%;
    background:orange;
    height:200px;
    margin:5% 1% 0 0;
}
#press>div.flex>article:nth-child(2){
    width:39%;
    background:orange;
    height:200px;
    margin:5% 0 0 0;
}

#press>div.flex>article:nth-child(3){
    width:30%;
    background:orange;
    height:200px;
    margin:1% 1% 0 0;
}
#press>div.flex>article:nth-child(4){
    width:69%;
    background:orange;
    height:200px;
    margin:1% 0 0 0;
}
#press>div.flex>article:nth-child(5){
    width:49%;
    background:orange;
    height:200px;
    margin:1% 1% 5% 0;
}
#press>div.flex>article:nth-child(6){
    width:50%;
    background:orange;
    height:200px;
    margin:1% 0 5% 0;
}

.press_con{
    text-align:center;
    position:relative;
    top:80px;
    line-height:25px;
}
.press_con>li>h4{
    font-size:1.5em;
    font-weight:bold;
    color:#fff;
}
.press_con>li:nth-child(2){
    font-size:1.2em;
    color:#fff;
}

/*푸터영역*/
footer{background:#333; padding: 30px; line-height:2.5; color:#fff;}