@charset "utf-8";
*{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{vertical-align:top;}
a:link,a:visited,a:hover,a:active{
	color:#333; text-decoration:none;
}
html{
    font-size:16px;
}
.wrap{
    width:1600px;
    margin:0 auto;
}

/*헤더영역*/
.utile{
    background:#cccccc;
    height:50px;
}
.utile_right{
    float:right;
}
.utile_right>li{
    float:left;
    margin:12px;
}
.utile_right>li>a{
    color:#666;
}
.utile_right>li:last-child{
    margin:0;
}
.clear::after{
	content:'';
	display:block;
	clear:both;
	width:0; height:0;
	visibility:hidden;
}

.gnb>li{
    float:left;
    margin:45px;
    font-size:1.2rem;
}
.gnb>li>a{
    color:#6a6562;
}
.gnb>li:nth-child(1){
    margin:25px 220px 25px 0;
}
/*sec1*/
section>div:nth-child(1){
    width:100%;
    height:500px;
    /*background:url('./images/sub_main_img01.jpg') no-repeat center center/cover red;*/
    background-image: url('../img/banner1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
section>div:nth-child(2){
    width:100%;
    height:300px;
    background:url('../img/banner2.jpg') no-repeat center center/ cover;
}
section>div:nth-child(3),
section>div:nth-child(4){
    margin-bottom:130px;
}
section>div:nth-child(3)>h5{    
    margin:70px 0;
    color:#e4a15a;
    font-size:1.5rem;
    font-weight:400;
}
section>div:nth-child(4)>h5{
    margin:70px 0;
    color:#e4a15a;
    font-size:1.5rem;
    font-weight:400;
}
section>*{
    text-align:center;
}
.sec1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.sec1>figure>figcaption{
    line-height: 2;
}
section>div:nth-child(4)>div>figure>figcaption p{
    color:#e4a15a;
    padding-top:10px;
}
.sec1>figure>figcaption>p:nth-child(1){
    font-size:1.3rem;
}

section>div:nth-child(5){
    background:#81007f;
    height:800px;
}
section>div:nth-child(5)>h4{
    font-size:1.3rem;
    color:#fff;
    padding:40px 0;
}
.sec2{
    margin-bottom:20px;
}
.sec2>li{
    float:left;
}

.sec2>li img{
    width:266.66666666px;
    height:266.66666px;
}
section>div:nth-child(5)>ul:last-child{
    margin:0 auto;
    background:#fea500;
    width:500px;
}
section>div:nth-child(5)>ul:last-child>li{
    font-size:1.3rem;
    color:#fff;
    padding:15px;
}
/*푸터영역*/

footer>div:first-child{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:30px 0;
    border-bottom:3px solid #8f8681;
    box-sizing: border-box;
}
.ft_01{
    line-height: 2.5;
}
.ft_01>li>a{
    color:#948371;
    font-weight:550;
}
.ft_01>li:first-child>a{
    font-size:1.3rem;
    color:#fea500;
    font-weight:400;
}
footer>div:first-child>.ft_01:nth-child(5)>li:nth-child(5){
    font-size:1.3rem;
}
footer>div:nth-child(2){
    padding:30px 0;
}
.ft_02>li{
    float:left;
    border-right:2px solid #857276;
    padding:0 20px;
}
.ft_02>li:first-child{
    padding-left:0;
}
.ft_02>li:last-child{
    border-right:0;
}
.ft_03{
    float:right;
}
.ft_03>li{
    float:left;
}
.ft_03>li:nth-child(2){
    margin:0 20px;
}
.ft_03>li:nth-child(3){
    margin-right:20px;
}
.ft_04{
    margin-top:30px;
    line-height:2;
}
.ft_04>li{
    color:#948371;
    font-weight:550;
}
.ft_02>li>a,
.ft_03>li>a{
    color:#948371;
    font-weight:550;
}
footer>div:last-child>.ft_02>li:nth-child(2)>a{
    color:#fea500;
}